PDF Doc Reader Via Power Automate/Microsoft.Flow/flows/221fd801-d67f-4677-9abd-428687b89b42/definition.json
{"name":"bc4edd6b-8e29-4caf-96d1-d2e5d9f7a5e1","id":"/providers/Microsoft.Flow/flows/bc4edd6b-8e29-4caf-96d1-d2e5d9f7a5e1","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Extract text from images or PDF documents using AI Builder Text Recognition","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"9c1ada48-5134-43e8-a1da-f2c573b1e42e","type":"User","tenantId":"5d0aa6ea-6620-4863-9e21-9ecb140222bc"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-06-05T21:37:10.9812529Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"e4a24351-7779-442f-94d8-50b4eae6e681"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"file":{"title":"File","type":"object","x-ms-dynamically-added":true,"description":"Please select a file (supported file formats: .PDF, .PNG, .JPEG)","x-ms-content-hint":"FILE","properties":{"name":{"type":"string"},"contentBytes":{"type":"string","format":"byte"}}}},"required":[]}}}},"actions":{"Apply_to_each_-_Apply_to_each_page":{"foreach":"@outputs('Recognize_text_in_an_image')?['body/responsev2/predictionOutput/results']","actions":{"Apply_to_each_-_Apply_to_each_line":{"foreach":"@items('Apply_to_each_-_Apply_to_each_page')?['lines']","actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"e4872d3d-c023-490d-89bb-2232fa42dd00"},"type":"AppendToStringVariable","inputs":{"name":"Extracted text","value":"@{items('Apply_to_each_-_Apply_to_each_line')?['text']} "}}},"runAfter":{},"metadata":{"operationMetadataId":"ecaaffb9-0a37-4382-aebf-fd1125d24e13"},"type":"Foreach"}},"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"9728764d-f04e-4dae-a02a-ed320d5df492"},"type":"Foreach"},"Recognize_text_in_an_image":{"runAfter":{},"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_textrecognition","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"},"operationMetadataId":"8ab3b7d2-762a-4c24-910d-42f00f5b9d67"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_textrecognition"},"parameters":{"item/requestv2/base64Encoded":"@triggerBody()?['file']?['contentBytes']","recordId":"86419a67-205a-454f-b6fc-601394f2786d"},"authentication":"@parameters('$authentication')"}},"Get_my_profile_(V2)":{"runAfter":{"Apply_to_each_-_Apply_to_each_page":["Succeeded"]},"metadata":{"operationMetadataId":"a277b189-cc39-492f-ba6b-75b11fb69ab3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"MyProfile_V2"},"parameters":{},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_email_(V2)":{"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"8bdaecce-a11e-4c20-a824-a70bafb48942"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_my_profile_(V2)')?['body/mail']","emailMessage/Subject":"Text Recognition results","emailMessage/Body":"<p><span style=\"font-size: 16px\">Congratulations </span><span style=\"font-size: 16px\">@{outputs('Get_my_profile_(V2)')?['body/givenName']}</span><span style=\"font-size: 16px\">! Your Power Automate flow ran successfully. Here is all the text extracted from the attached file:<br>\n<br>\n</span><span style=\"font-size: 16px\">@{variables('Extracted text')}</span><span style=\"font-size: 16px\"><br>\n<br>\nLearn more about AI Builder Text Recognition and the information it can extract: https://go.microsoft.com/fwlink/?linkid=2161167</span></p>","emailMessage/Attachments":[{"Name":"@triggerBody()?['file']?['name']","ContentBytes":"@triggerBody()?['file']?['contentBytes']"}]},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable":{"runAfter":{"Recognize_text_in_an_image":["Succeeded"]},"metadata":{"operationMetadataId":"832b583b-7112-471f-be67-18d9feb27012"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Extracted text","type":"string"}]}}},"description":"Use Text Recognition from AI Builder to automatically process text from images and PDF documents on button click. First time using AI Builder Text Recognition? Learn more at https://aka.ms/LearnTextRecognition"},"connectionReferences":{"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-6d325357-4f30-4549-bd45-73790f81cc80","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified"},"shared_office365users":{"connectionName":"shared-office365user-8d8feb7e-98ed-4a19-82af-f101e268495e","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-bf0cf1fc-19ea-4ec2-afdc-d40390e9fe96","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}