Email Automation/Microsoft.Flow/flows/f2beaf30-4f4f-4a20-92af-b06df59b24c7/definition.json
{"name":"dca1ab16-9b68-408c-88f6-a7c719f43aea","id":"/providers/Microsoft.Flow/flows/dca1ab16-9b68-408c-88f6-a7c719f43aea","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Send email to google sheet contact list with the customer email address","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"9c1ada48-5134-43e8-a1da-f2c573b1e42e","type":"User","tenantId":"5d0aa6ea-6620-4863-9e21-9ecb140222bc"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-06-04T15:11:06.1080709Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"be579c41-9fbd-4111-9705-48a3ac3070d6"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_rows":{"runAfter":{},"metadata":{"1fflQo2_LXOuIDCCrIT3IUHO7setJVEXxiRre4zLdtoU":"/DBS/Project_Demo_Email_List","operationMetadataId":"a8683d0c-c338-4ee4-a553-967122152799"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_googlesheet","connectionName":"shared_googlesheet","operationId":"GetItems"},"parameters":{"dataset":"1fflQo2_LXOuIDCCrIT3IUHO7setJVEXxiRre4zLdtoU","table":"0"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('Get_rows')?['body/value']","actions":{"Send_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"5dc2cf0c-df16-45fd-9e94-7d31113c9295"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_gmail","connectionName":"shared_gmail","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Apply_to_each')?['Email']","emailMessage/Subject":"@items('Apply_to_each')?['Subject']","emailMessage/Body":"<p>Hii @{items('Apply_to_each')?['Name']},<br>\n<br>\n@{items('Apply_to_each')?['Text']}<br>\n<br>\nYour iD:@{items('Apply_to_each')?['__PowerAppsId__']}</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_rows":["Succeeded"]},"metadata":{"operationMetadataId":"306433d5-3799-4d69-8538-f4ea703029fa"},"type":"Foreach"}}},"connectionReferences":{"shared_googlesheet":{"connectionName":"shared-googlesheet-cfcba6a4-48f3-4d05-9502-7e9e052e86c8","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_googlesheet","tier":"NotSpecified"},"shared_gmail":{"connectionName":"shared-gmail-2fb0912d-c57b-42d8-a114-301281bcb438","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_gmail","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}